*{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}
body{
    font-family: cursive;
    color: blue;
    padding-bottom: 50px;
    background-color: rgb(8, 232, 240);
}
.container{
    max-width: 1200px;
}
.nav{
    position: fixed;
    background-color: yellow;
    top:0;
    left:0;
    right: 0;
    transition: all 0.5 ease-in-out;
}
.nav .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav a{
    color:navy;
    text-decoration: none;
    padding: 15px;
    transition: all 0.5s ease-in-out;
}
.nav.active{
    background-color: navy;
}
.nav.active a{
    color: rgb(142,195,228);
    font-family: cursive;
}
.nav.active .container{
    padding: 10px;
}
.nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.nav h1{
    font-family: 50px;
    color: green;
}
.sample{
    background-image: url('download.png');
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.sample h1{
    font-size: 40px;
    font-family: cursive;
    color: azure;
    text-align: center;
}
p{
    font-family: cursive;
    font-size: 40px;
    letter-spacing: 2px;
    color: rgb(197, 236, 134);
}
.content h2{
    font-size: 50px;
    font-family: cursive;
    color:navy;
}
.content p{
    margin: 10px;
    font-size: 40px;
    color: rgb(36, 6, 32);
}